*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
  
    background-color: var(--gamme1__fond);
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--gamme1__texte1);
}

ol {
    margin: 0;
}