/*--------------------------------------------------------------------*/
/* Couleurs                                                           */
/*--------------------------------------------------------------------*/

// pour thème sombre
$sombre1: #26292E;
$sombre2: #393D43;

$sombre3: #F7F9F9;
$sombre4: #C0D2DB;

$sombre5: #FE9C70;
$sombre6: #FFC2A6;


// pour thème clair
$clair1: #EBEBEB; 
$clair2: #fff; 

$clair3: #170A0A; 
$clair4: #4D4C4C; 

$clair5: #883000; 
$clair6: #C54906; 

/*--------------------------------------------------------------------*/
/* Thème Foncé (défaut)                                               */
/*--------------------------------------------------------------------*/
:root {
    --gamme1__fond: #{$sombre1};
    --gamme1__texte1: #{$sombre3};
    --gamme1__texte2: #{$sombre4};
    --gamme1__texte3: #{$sombre5};
    --gamme1__bordure: #{$sombre2};
    --gamme1__interaction: #{$sombre5};
    --gamme1__hover: #{$sombre6};

    --gamme2__fond: #{$sombre2};
    --gamme1__texte1: #{$sombre3};
    --gamme2__interaction: #{$sombre4};
    --gamme2__hover: #{$sombre3};
    
    --gamme3__fond: #{$sombre5};
    --gamme3__texte1: #{$sombre1};
}
  
  
/*--------------------------------------------------------------------*/
/* Thème Clair                                                        */
/*--------------------------------------------------------------------*/
[data-mode="light"] {
    --gamme1__fond: #{$clair1};
    --gamme1__texte1: #{$clair3};
    --gamme1__texte2: #{$clair4};
    --gamme1__texte3: #{$clair5};
    --gamme1__bordure: #{$clair2};
    --gamme1__interaction: #{$clair5};
    --gamme1__hover: #{$clair6};

    --gamme2__fond: #{$clair2};
    --gamme2__texte1: #{$clair3};
    --gamme2__interaction: #{$clair4};
    --gamme2__hover: #{$clair3};
    
    --gamme3__fond: #{$clair5};
    --gamme3__texte1: #{$clair2};
}
