/*--------------------------------------------------------------------*/
/* Couleurs                                                           */
/*--------------------------------------------------------------------*/
$mirage: #161B25;
$gunmetal: #2B303A;
$greyChateau: #9DA6B6;

$orangeyRed: #F54B2A;
$albescentWhite: #FDE7D1;


/*--------------------------------------------------------------------*/
/* Thème Foncé (défaut)                                               */
/*--------------------------------------------------------------------*/
:root {
    --gamme1__fond: #{$mirage};
    --gamme1__texte1: #{$albescentWhite};
    --gamme1__texte2: #{$greyChateau};
  }
  
  
  /*--------------------------------------------------------------------*/
  /* Thème Clair                                                        */
  /*--------------------------------------------------------------------*/
  [data-mode="light"] {
    
  }