$taille-picto: 24px;

$espace-xs: rem-calc(4);
$espace-m: rem-calc(16);

$app-largeur-max: rem-calc(600);
$app_menu-largeur: rem-calc(56);
$app_btn-padding: rem-calc(16);
$app_btn-largeur-bordure: 90%;
$app_bordure: rem-calc(2);