$z-index: (
    app_gauche      : 4,
    app_droite      : 4,
    app_menu        : 3,
    overlay         : 2,
    app_haut        : 1,
    app_bas         : 1,
    app_contenu     : 0,
    clignote        : 0,
);

@function z-index($key) {
    @return map-get($z-index, $key);
}

@mixin z-index($key) {
    z-index: z-index($key);
}