.mt-s {
    margin-top: $espace-xs;
}

.mb-l {
    margin-bottom: calc($espace-m * 3);
}

.p-s {
    padding: $espace-xs;
}
.px-s {
    padding-left: $espace-s;
    padding-right: $espace-s;
}
.py-xs {
    padding-top: $espace-xs;
    padding-bottom: $espace-xs;
}