.hover:hover {
    cursor: pointer;//
}






.hover.\:g1 {
    color: var(--gamme1__interaction);
    fill: var(--gamme1__interaction);
}

.hover.\:g1:hover {
    color: var(--gamme1__hover);
    fill: var(--gamme1__hover);
}






.hover.\:g2 {
    color: var(--gamme2__interaction);
    fill: var(--gamme2__interaction);
}

.hover.\:g2:hover {
    color: var(--gamme2__hover);
    fill: var(--gamme2__hover);
}





.btn {
    color: var(--gamme1__texte1);
    border: 1px solid var(--gamme1__texte1);
    padding: $espace-s;
}
.btn:hover {
    border: 1px solid var(--gamme1__hover);
    cursor: pointer;
}
.btn:active {
    color: var(--gamme1__interaction);
    border: 1px solid var(--gamme1__interaction);
}