.overlay {
    position: relative;
}
.overlay:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--gamme1__fond);
    opacity: 0.9;
    @include z-index(overlay);
}