.align-center {
    text-align: center;
}

.texte--l {
    font-size: 1.3rem;
    font-weight: 300;
}

.texte--g1-2 {
    color: var(--gamme1__texte2);
}
.texte--g2-1 {
    background-color: var(--gamme2__fond);
    color: var(--gamme2__texte1);
    fill: var(--gamme2__texte1);
}
.texte--g2-2 {
    background-color: var(--gamme2__fond);
    color: var(--gamme2__texte2);
    fill: var(--gamme2__texte2);
}
.texte--g3-1 {
    background-color: var(--gamme3__fond);
    color: var(--gamme3__texte1);
    fill: var(--gamme3__texte1)
}