body {
    position: relative;
    background: var(--gamme1__fond);
}

.app {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    max-width: $app-largeur-max;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--gamme1__fond);
    font-family: sans-serif;
    overflow: hidden;
}

.app_haut {
    @include z-index(app_haut);
    padding-top: $app_btn-padding;
    padding-right: $app_btn-padding;
    padding-left: $app_btn-padding;
    box-shadow: 0px $app_btn-padding $app_btn-padding 0px var(--gamme1__fond); 
}
.app_haut:after {
    content: '';
    display: block;
    width: $app_btn-largeur-bordure;
    height: $app_bordure;
    margin: $app_btn-padding auto 0;
    background-color: var(--gamme2__fond);
}

.app_contenu {
    @include z-index(app_contenu);
    flex-grow: 1;
    overflow-x: auto;
    padding-top: $app_btn-padding;
    padding-bottom: $app_btn-padding;
}

.app_gauche {
    @include z-index(app_gauche);
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    bottom: 0;
}

.app_droite {
    @include z-index(app_droite);
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;
}

.app_menu {
    @include z-index(app_menu);
    position: absolute;
    top: 0;
    bottom: 0;
    width: $app_menu-largeur;
    overflow-x: auto;
    background: var(--gamme2__fond);
    transition: margin-left 125ms ease-in;
}
[data-position="droite"] .app_menu {
    left:100%;
}
[data-position="droite"] .app_menu.\:visible,
[data-position="gauche"] .app_menu {
    margin-left: -($app_menu-largeur);
}
[data-position="gauche"] .app_menu.\:visible {
    margin-left: 0;
}

.app_bas {
    @include z-index(app_bas);
    padding-right: $app_btn-padding;
    padding-bottom: $app_btn-padding;
    padding-left: $app_btn-padding;
    box-shadow: 0px -$app_btn-padding $app_btn-padding 0px var(--gamme1__fond); 
}
.app_bas:before {
    content: '';
    display: block;
    width: $app_btn-largeur-bordure;
    height: $app_bordure;
    margin: 0 auto $app_btn-padding;
    background-color: var(--gamme2__fond);
}