$marge-bordure : 30px;

.border\:header {
    border-bottom: $taille-bordure solid var(--gamme1__bordure);
    margin: 0 $marge-bordure;
}


.btn\:parametre {
    width: 100%;
    max-width: calc($site-l--max - ($marge-bordure*2));
    border-top: $taille-bordure solid var(--gamme1__bordure);
    margin: 0 auto;

}