$menu-ul-padding: 1rem; 

.ul\:menu {
    background-color: var(--gamme2__fond);
    padding: $menu-ul-padding;
}

.ul\:menu li{
    margin-bottom: 1rem;
}

.ul\:menu .btn\:js svg {
    fill: var(--gamme2__btn);
}






.ul\:menu .btn\:js:hover svg {
    fill: var(--gamme2__btn--hover);
}





$menu-label-padding: 1rem;

.ul\:menu .btn\:js {
    position: relative;
}
.label\:menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    padding: 0.5rem $menu-label-padding;
    border-radius: 1rem;
    background-color: var(--gamme2__fond);
    color: var(--gamme2__btn);
    opacity: 0;
    transition: opacity .2s;
    @include z-index(label-menu);
}
.ul\:menu .btn\:js:hover .label\:menu:before {
    content: '';
    position: absolute;
    top:0;
    bottom: 0;
    left: calc($menu-ul-padding * -2);
    width: calc($menu-ul-padding * 2 + $menu-label-padding);
}
.ul\:menu .btn\:js:hover .label\:menu {
    color: var(--gamme2__btn--hover);
    opacity: 1;
}


[data-position="gauche"] .label\:menu {
    left: 100%;
    margin-left: calc($menu-ul-padding * 2);
}
[data-position="droite"] .label\:menu {
    right: 100%;
    margin-right: calc($menu-ul-padding * 2);
}