.position-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: $app_bordure dashed var(--gamme1__interaction);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    flex-grow: 1;
}

.position-menu.\:droite {
    align-items: end;
}